head
    title 
    script scr=/hello.js
    link(rel="stylesheet", href="./hello123.css")
    style.
        span #ds  {
            color:red;
        }
        .a1234 {
            color:green;
        }