div{
    text-align: center;
    
    vertical-align: middle;
    line-height: 90px;

    width: 100px;
    height: 100px;
    margin:  200px auto;
    background-color: dodgerblue;
    color: aliceblue;

    /* transform: rotate(45deg); */
    /* transform: scale(1);  */
    /* transform: skewY(20deg); */
    /* transform: rotateX(45deg); */
    transform: matrix([scale], [skewY], [skewX], [scaleY], [translateX], [translateY]);
}

div:hover {
    cursor: pointer;
    transition : all 2s linear;
    transform: rotate(360deg);
    /* rotate != ...X != ...Y */
}